@font-face {
    font-family: monospace;
    src: url('SpaceMono-Regular.ttf') format('ttf');
}

@font-face {
    font-family: r;
    src: url('Roboto-Bold.ttf') formt('ttf');
}

body {
    background-color: #EAE7DC;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* NAV BAR STYLING*/
.navbar-items {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
}

.placeholder {
    flex: 2;
}

.nav-item, .resume-button {
    margin-right: 20px;
}

.list-num {
    display: inline-block;
    color: #E85A4F;
}

.logo {
    color: #E85A4F;
}

.resume-button {
    color: #E85A4F;
}

li {
    font-family: monospace;
    font-size: 17px;
    margin: auto;
}

.resume-button {
    border: 2px solid #E85A4F;
    border-radius: 5px;
    padding: 8px 10px;
    height: 50px;
    margin: auto;
    background: none;
    font-weight: 700;
}

.resume-button:hover {
    background: #D8C3A5;
    cursor: pointer;
}

button.resume-button > a {
    text-decoration: none;
    color: inherit;
}

li.logo > a > img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin: auto;
}

li.nav-item > a {
    text-decoration: none;
    color: inherit;
}

li.nav-item > a.selected {
    color: #E85A4F;
}

.selected {
    font-size: 21px;
}

/* SPLASH PAGE STYLING */
div.splash-content-container {
    width: fit-content;
    margin: auto;
}

p.introduction {
    font-size: 20px;
    font-family: monospace;
    color: #E85A4F;
    margin: 0px;
    margin-bottom: 20px;
    width: fit-content;
}

h1.name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
    color: #8E8A8D;
    margin: 0px;
    margin-bottom: 20px;
    width: fit-content
}

h1.self-statement {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
    color: #0d0c0d;
    margin: 0px;
    margin-bottom: 20px;
    width: 1000px;
}

p.self-overview {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0d0c0d;
    margin: 0px;
    margin-bottom: 40px;
    width: 500px;
}

span.indep {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E85A4F;
}

/* FOOTER STYLING */
.nav-container {
    margin: auto;
    min-height: 100px;
}

ul.logo-links {
    list-style-type: none;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
    display: flex;
}

p.claim {
    text-align: center;
}

li > a > img {
    width: 75px;
    height: 75px;
}

div.nav-container > p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0d0c0d;
}

/* ABOUT PAGE STYLING */
div.about-body {
    width: 500px;
    margin: auto;
}

p.paragraph {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    color: #0d0c0d;
}