@font-face {
    font-family: monospace;
    src: url('SpaceMono-Regular.ttf') format('ttf');
}

@font-face {
    font-family: r;
    src: url('Roboto-Bold.ttf') formt('ttf');
}

body {
    background-color: #EAE7DC;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

div.main-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
}

div.section {
    padding: 100px 0px;
}

/* NAV BAR STYLING*/
.navbar-items {
    list-style-type: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 0px;
    display: flex;
}

.placeholder {
    flex: 2;
}

.nav-item, .resume-button {
    margin-right: 20px;
}

.list-num {
    display: inline-block;
    color: #E85A4F;
}

.logo {
    color: #E85A4F;
}

.resume-button {
    color: #E85A4F;
}

li {
    font-family: monospace;
    font-size: 17px;
    margin: auto;
}

.resume-button {
    border: 2px solid #E85A4F;
    border-radius: 5px;
    padding: 8px 10px;
    height: 50px;
    background: none;
    font-weight: 700;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.resume-button:hover {
    outline: none;
    box-shadow: 3px 3px 0 0 #E85A4F;
    transform: translate(-4px, -4px);
    cursor: pointer;
}

button.resume-button > a {
    text-decoration: none;
    color: inherit;
}

li.logo > a > img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin: auto;
}

li.nav-item > a {
    text-decoration: none;
    color: inherit;
}

a.link:hover {
    color: #E85A4F;
}

li.nav-item > a.selected {
    color: #E85A4F;
}

.selected {
    font-size: 21px;
}

/* SPLASH PAGE STYLING */
div.splash-content-container {
    width: fit-content;
    margin: auto;
}

p.introduction {
    font-size: 20px;
    font-family: monospace;
    color: #E85A4F;
    margin: 0px;
    margin-bottom: 20px;
    width: fit-content;
}

h1.name {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
    color: #8E8A8D;
    margin: 0px;
    margin-bottom: 20px;
    width: fit-content
}

h1.self-statement {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 76px;
    color: #0d0c0d;
    margin: 0px;
    margin-bottom: 20px;
    width: 1000px;
}

p.self-overview {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #0d0c0d;
    margin: 0px;
    margin-bottom: 40px;
    width: 500px;
}

span.indep {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #E85A4F;
}

/* FOOTER STYLING */
.nav-container {
    margin: auto;
    min-height: 100px;
}

ul.logo-links {
    list-style-type: none;
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
    display: flex;
}

p.claim {
    text-align: center;
}

li > a > img {
    width: 75px;
    height: 75px;
}

div.nav-container > p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #0d0c0d;
}

/* ABOUT PAGE STYLING */
ol.experience-list {
    list-style: none;
}

div.about-body {
    width: 50%;
    margin: auto;
}

h2.section-heading {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin: 10px 0px 40px;
    width: 100%;
    font-size: 26px;
    white-space: nowrap;
    font-family: "Roboto", sans-serif;
}

h2 > span.numbering {
    position: relative;
    margin-right: 10px;
    font-size: 22px;
    font-weight: 400;
    color: #E85A4F;
    font-family: monospace;
}

h2.section-heading::after {
    content: "";
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: black;
}

div.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

img.self-portrait {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: block;
}

p.paragraph {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-style: normal;
    color: #0d0c0d;
}

/* WORK EXPERIENCE STYLING */
li.experience-item > h2.section-heading {
    padding-left: 40px;
}

li.experience-item {
    width: 50%;
}

div.experience-group {
    padding: 20px;
}

a.experience-group {
    display: flex;
    text-decoration: none;
    padding: 20px;
}
a.experience-group:hover {
    background-color: #d9d3bf;
    outline: solid;
    outline-color: #d9d3bf;
    border-radius: 5px;
}

a.experience-group:hover > div.experience-content > h3.title_company {
    color: #E98074;
}

div.experience-time_frame {
    color: #8E8D8A;
}

h3.title_company {
    margin: 0px;
    color: #b3a780;
}

a.experience-group:hover > div.experience-content > h3.title_company > span.arrow {
    margin-left: 10px;
    transition: margin-left 400ms ease-in-out;
}

div.experience-content {
    width: 75%;
    margin-left: 20px;
}

p.job-content {
    margin: 0px;
    color: #b4b4b1;
}

ul.tech-stack {
    list-style: none;
    display: flex;
    width:100%;
    padding: 0px;
    flex-wrap: wrap;
}

li.tech-item {
    color: #E98074;
    padding: 10px;
    margin: 10px 0 0 5px;
    background-color: rgba(232, 90, 79, 0.25);
    border-radius: 20px;
}

div.resume-link-container {
    display: block;
    text-align: center;
}

h3.resume-link-text {
    color: #E98074;
    font-family: monospace;
}

h3.resume-link-text > a {
    text-decoration: none;
    color: #b3a780;
}

h3.resume-link-text > a:hover {
    color: #E98074;
}

h3.resume-link-text > a:hover > span.arrow {
    margin-left: 10px;
    transition: margin-left 400ms ease-in-out;
}

/* PROJECT PAGE STYLING */
div.projects-container {
    max-width: 1000px;
    padding: 100px 0px;
    margin: 0px auto;
}

ul.content-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

li.project-item {
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 100px;
}

div.project-text-container {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    grid-column: 7 / -1;
    text-align: right;
}

div.img-container {
    grid-column: 1 / 8;
    grid-area: 1 / 2 / -1 / -1;
    position: relative;
    z-index: 1;
}

div.img-container.right {
    grid-column: 7 / -1;
}

div.project-text-container.left {
    grid-column: 1 / 8;
    text-align: left;
}

div.img-container > a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

div.img-container > a > img {
    margin: 0px;
    max-width: none;
    padding: 0px;
    vertical-align: middle;
    border-radius: 5px;
}

div.img-container > a > img:hover {
    opacity: 0.75;
    transition: opacity 200ms ease-in-out;
}

div.project-text-container {
    grid-column: 7 / -1 ;
}

p.featured-project {
    text-align: right;
    font-family: monospace;
    color: #E85A4F;
    margin: 10px 0px;
}

h3.project-title {
    text-align: right;
    margin: 0px 0px 10px;
}

h3.project-title > a {
    text-decoration: none;
    color: inherit;
    position: relative;
    z-index: 1;
}

h3.project-title > a:hover {
    color: #E85A4F;
    transition: color 200ms ease-in-out;
}

div.description-container {
    padding: 25px;
    background-color: #cfc8af;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}

p.description-text {
    margin: 0px;
    text-align: right;
    color: #757570;
}

p.description-text.left {
    text-align: left;
}

ul.technology-list {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
    position: relative;
    z-index: 2;
}

ul.technology-list.right {
    justify-content: flex-end;
}

li.technology-item {
    color: #757570;
    margin: 0px 0px 0px 10px;
}

li.technology-item.left {
    margin: 0px 10px 0px 0px;
}

div.project-links-container {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    -webkit-box-pack: right;
    justify-content: flex-end;
}

div.project-links-container > a {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 10px 0px 10px 10px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    visibility: visible;
}

div.project-links-container > a.left {
    padding: 10px 10px 10px 0px;
}

div.project-links-container > a > svg {
    width: 20px;
    height: 20px;
}

div.project-links-container > a:hover {
    color: #E85A4F;
    transition: color 200ms ease-in-out;
}

p.featured-project.left {
    text-align: left;
}

h3.project-title.left {
    text-align: left;
}

div.project-links-container.left {
    justify-content: flex-start;
}

a.client {
    text-decoration: none;
    color: #E85A4F;
}

a.client:hover {
    text-decoration: none;
}

span.underline {
    background-image: linear-gradient(#E85A4F 0 0);
    background-repeat: no-repeat;
    background-position: bottom left;
    -webkit-animation: slide_underline_out 200ms linear forwards;
}

span.underline:hover {
    -webkit-animation: slide_underline_in 200ms linear forwards;
}

@-webkit-keyframes slide_underline_in {
    from { background-size: 0% 1px; }
    to { background-size: 100% 1px; }
}

@-webkit-keyframes slide_underline_out {
    from { background-size: 100% 1px; }
    to { background-size: 0% 1px; }
}

